*
{
    margin: 0;
    padding: 0;
}

body
{
    box-sizing: border-box;
    background-color:lightslategray;
}

h1
{
    display: flex;
    justify-content: center;

    font-size: 35px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:darkslateblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
}

.wrapper > .button-delete
{
    background-color:salmon;
    padding: 3px;
    font-weight: bold;
    font-style: italic;
    border-radius: 5px;
}

.grid-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.screen
{
    display:flex;
    width: 600px;
    height: 600px;

}

.screen > .column
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    border: .5px solid black;
    background-color: steelblue;
}

.screen > .column > .row
{
    flex-grow: 1;
    border: .5px solid black;
}